# === Node.js / npm ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# === Firebase ===
.firebase/
.firebaserc.local
firebase-debug.log
firebase-debug.*
firebase-export.json
firestore.indexes.json.backup

# === Hosting build output ===
komvikweb/dist/
functions/lib/
functions/node_modules/
functions/.env
functions/.runtimeconfig.json

# === Environment / credentials ===
.env
.env.local
.env.development
.env.production
.env.*.local

# === macOS / OS files ===
.DS_Store
Thumbs.db

# === VS Code ===
.vscode/
.history/
.idea/

# === Logs ===
*.log
*.tmp

# === Misc ===
*.bak
*.swp

# === Temp and help file ===
package.json
HELP_all_consol_comands.md
HELP_deploy.md
README_all.md
README_firebase_all.md
README_firebase_install.md
README_git_github.md
README_add_functionality.md
README_locales.md

project-structure.txt
HELP_AI_PROJECTPROMPT.md
